@{
  Layout = "_Layout";
}

<div class="container">
<h1>Client Details</h1>
    <h3>Name: @Model.GetName()</h3>
    <h3>Stylist Name: @Model.GetStylistName() </h3>
    <br>
    <h3><a href="/clients">Back to Clients List</a></h3>
</div>