@{
  Layout = "_Layout";
}
<br><br>
<div class="container text-center">
  <h2> <a href="/stylists">View Stylists</a></h2>
  <h2> <a href="/clients">View Clients</a></h2>
  <h2> <a href="/specialties">View Specialties</a></h2>
  <h2> <a href="/stylists/assign">Assign stylists to specialties</a></h2>

</div>