@{
  Layout = "_Layout";
}

<div class="container">
<h1>Stylist Details</h1>
    <h3>Name: @Model.GetStylistName()</h3>
    <h3>Location: @Model.GetLocation()</h3>
    <h3>Rating: @Model.GetRating()</h3>
    <br>
    <h3><a href="/stylists">Back to Stylists List</a></h3>
</div>