
<h3>Here are all the clients for this stylist:</h3>

@if (@Model["clients"].Count == 0)
{
  <h3>No clients have been found for this stylist!</h3>
}

<ol>
@foreach (var client in @Model["clients"])
{
  <li>
    <h2>@client.GetName()|| <a href="/clients/@client.GetId()/delete">Delete Client</a></h2>
  </li>
}
</ol>

<h3><a href = "/stylists">Return to stylists List</a></h3>